.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





.App-link {
  color: #61dafb;
}


/* CSS for table header cells */
.thStyle {
  border: 1px solid #ccc;
  background-color: #4A90E2;
  color: white;
  padding: 4px 5px;
  text-align: left;
  font-weight: bold;
}

/* CSS for table data cells */
.tdStyle {
  border: 1px solid #ccc;
  padding: 4px 5px;
  text-align: left;
}